.home-bg {
  height: 100dvh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.home-bg-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  
}
.bg-blur-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  backdrop-filter: blur(5px);
  /* opacity: .5; */
  /* background-color: black; */
}
