.convenor-item {
  border-radius: 20px;
  background-color: #d9d9d959;
  padding: 2rem 1rem;
  backdrop-filter: blur(50px);
}
.convenor-name {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem 0;
  color: #270028;
}
.convenor-profession {
}
.convenor-socials {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem 0;
}
.social-link {
  height: 50px;
  width: 50px;
  background-color: #d9d9d959;
  border-radius: 25px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
