.outlet-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 100%;
    padding: 200px 1rem 50px;
    overflow: scroll;
}

.outlet-position-cont {
    padding-top: 10rem;
}